.search-div{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.add-new-button{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 10px;
  outline: none;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
  outline: none;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  outline: none;
}

input[type=text] {
  background-color: #f6f6f6;
  /*border: none;*/
  color: #0d0d0d;
  padding: 15px 32px;
  /*text-align: center;*/
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 100%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
}

select {
  background-color: #f6f6f6;
  /*border: none;*/
  color: #000;
  padding: 15px 25px;
  /*text-align: center;*/
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 100%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
}

textarea {
  background-color: #f6f6f6;
  /*border: none;*/
  color: #000;
  padding: 15px 25px;
  /*text-align: center;*/
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 100%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
  outline: none;
}

select:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
  outline: none;
}
textarea:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
  outline: none;
}

.error-block{
  text-align: left;
  color: #DD4B39 ;
  margin-left: 2%;
}

.add-button {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px 20px; /* Some padding */
  border-radius:50%; /* Rounded corners */
  font-weight: 900;
  font-size: 24px; /* Increase font size */
  outline: none;
}

.add-button:hover {
  outline: none;
  background-color: #555; /* Add a dark-grey background on hover */
}

.panel {
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5) !important;
  -moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5) !important;
  -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5) !important;
  -ms-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5) !important;
  transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  margin-bottom: 35px;
  border-radius: 0px;
  position: relative;
  border: 0;
  display: inline-block;
  width: 100%;
  height: 480px;
}

.video_content{
  padding: 10px;
}

.video_save{
  position: absolute;
  right: 15px;
  bottom: 10px;
}
.status_button{
  position: absolute;
  left: 15px;
  bottom: 10px;
}

.ytp-button{
  display: none !important;
}
