<app-header></app-header>

<div class='container-fluid main-content'>

  <ngx-spinner
    bdColor = "rgba(51, 51, 51, 0.8)"
    size = "medium"
    color = "#ccc"
    type = "line-scale-party">
  </ngx-spinner>

  <div class="search-div">
    <button (click)="openModal(addVideo)" class="btn btn-primary add-button" title="Add New Video">+</button>
  </div>

  <ng-template #addVideo>
    <div class="modal-header">
      <h4 class="modal-title pull-left text-center">Add Video</h4>
      <button type="button" class="close pull-right" aria-label="Close"
              (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  [formGroup]="addVideoForm" novalidate (ngSubmit)="addNewVideo()">

          <input autocomplete="off"
               readonly onfocus="this.removeAttribute('readonly')"
               type="text" formControlName="title" name="title"
               placeholder="Enter Title">

          <div class="error-block" *ngIf="submitted && f.title.errors">
            <span [hidden]="!f.title.errors.required"> Title is required.</span>
          </div>

          <textarea autocomplete="off"
                 readonly onfocus="this.removeAttribute('readonly')"
                 formControlName="description" name="description"
                 placeholder="Enter Description">
          </textarea>

          <div class="error-block" *ngIf="submitted && f.description.errors">
            <span [hidden]="!f.description.errors.required"> Description is required.</span>
          </div>

          <input autocomplete="off"
                 readonly onfocus="this.removeAttribute('readonly')"
                 type="text" formControlName="link" name="link"
                 placeholder="Enter youtube embed link.">

          <div class="error-block" *ngIf="submitted && f.link.errors">
            <span [hidden]="!f.link.errors.required"> Youtube link is required.</span>
            <span [hidden]="!f.link.errors.pattern"> Invalid youtube link.</span>
          </div>

          <select formControlName="type">
            <option  value="private">Private</option>
            <option value="public">Public</option>
          </select>

          <div class="error-block" *ngIf="submitted && f.type.errors">
            <span [hidden]="!f.type.errors.required" > Name is required.</span>
            <span [hidden]="!f.type.errors.pattern" > Invalid Name.</span>
          </div>

          <div class="add-new-button">
            <input type="submit" *ngIf="!loading" class="btn btn-primary btn-sm" value="Add">
            <input type="button" *ngIf="loading" disabled class="btn btn-primary btn-sm dis-btn" value="Adding ...">
          </div>
      </form>
    </div>
  </ng-template>

  <div class="no-record" *ngIf="!savedVideoList.length && !loading">
      NO VIDEOS AVAILABLE
  </div>

  <div *ngIf="savedVideoList.length && !loading"  class='row'>
    <div *ngFor="let video of savedVideoList;index as i"
         style="-webkit-animation-delay: {{i}}s; -moz-animation-delay: {{i}}s; animation-delay: {{i}}s;"
         class=' col-lg-3 col-md-4 col-sm-6 col-xs-12'>
      <div class="panel">
        <div class='image'>
          <div class="embed-responsive embed-responsive-16by9 hoverable">
              <iframe id="video_{{video['id']}}" class="embed-responsive-item" [src]="video['link'] | safe: 'resourceUrl'"
                      style="height: 101%"
                      frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen>
              </iframe>

<!--            <video width="640" height="360" id="player1" preload="none">-->
<!--              <source type="video/youtube" src="http://www.youtube.com/watch?v=nOEw9iiopwI | 'resourceUrl'" />-->
<!--            </video>-->
          </div>
        </div>
        <div class='copy video_content'>
          <h3 title="{{video['title']}}">
            {{ (video['title'].length > 50)? ((video['title'] | slice:0:50)+'...'):(video['title']) }}
          </h3>
          <p title="{{video['description']}}">
            {{ (video['description'].length > 250)? ((video['description'] | slice:0:250)+'...'):(video['description']) }}
          </p>
          <button (click)="changeVideoType(video['id'], video['type'])" *ngIf="(userId == video['user_id']) && (video['type'] == 'public')" class="btn pull-left status_button btn-success" title="Click to make video private">
            <i class="fa fa-globe"></i>
          </button>

          <button (click)="changeVideoType(video['id'], video['type'])" *ngIf="(userId == video['user_id']) && (video['type'] == 'private')" class="btn pull-left status_button btn-danger" title="Click to make video public">
            <i class="fa fa-lock"></i>
          </button>
          <button routerLink="/video/{{video['id']}}" class="btn pull-right video_save btn-primary" title="Open Video">Open Video</button>
        </div>
        <div class='clear'></div>
      </div>

    </div>
  </div>



</div>
