<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid" style="">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <div class="pull-right">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
      </button>

      <a class="navbar-brand" href="/news-feeds">
        <span class="head-title">Insta</span><span class="head-sub-title">tein</span>
      </a>

      <!--        <img style="width: 200px; height: 150px; margin-top: -50px;" src="assets/images/title.png" alt="Instatein Logo">-->
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li routerLinkActive="active">
          <a routerLink="/news-feeds">News Feeds</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/my-videos">My Videos</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/follow">Follow</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            Welcome {{username}}
            <span style="padding: 4px; margin-left: 5px;" class="fa fa-caret-down pull-right"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a (click)="logout()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>

    </div>

  </div>
</nav>
