nav {
  .navbar-brand {font-size: 30px;}
  .navbar-toggle {margin: 13px 15px 13px 0;}
  a {
    font-size: 18px;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    transition: all 0.3s ease;
    cursor: pointer;
  }
}

nav.navbar.shrink {
  min-height: 35px;
  .navbar-brand {font-size: 25px;}
  a {
    font-size: 15px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    cursor: pointer;
  }
  .navbar-toggle {
    margin: 8px 15px 8px 0;
    padding: 4px 5px;
  }
}

li{
  cursor: pointer;
}

.head-title
{ font-family: cursive;
  font-size: 28px;
  font-style: italic;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
  color: red;
  text-shadow: 2px 2px;

}

.head-sub-title
{ font-family: cursive;
  font-size: 28px;
  font-style: italic;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
  color: blue;
  text-shadow: 2px 2px;

}
