<app-header></app-header>
<div class='container-fluid main-content'>

  <ngx-spinner
    bdColor = "rgba(51, 51, 51, 0.8)"
    size = "medium"
    color = "#ccc"
    type = "line-scale-party">
  </ngx-spinner>

  <div class="search-div">
    <input [(ngModel)]="searchData" type="text" name="table_search" class="form-control pull-right"
           placeholder="Search User">
    <div class="input-group-btn">
      <button (click)="getUserList()" type="btn" class="btn btn-default">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

  <div class="no-record" *ngIf="!unfollowedList.length && !loading">
    NO FOLLOWING USERS
  </div>

  <div *ngIf="unfollowedList.length && !loading"  class="row">

    <div *ngFor="let user of unfollowedList;index as i" role="row"
         style="-webkit-animation-delay: {{i/5}}s; -moz-animation-delay: {{i/5}}s; animation-delay: {{i/5}}s;"
         class="col-lg-3 col-md-6 col-sm-6 col-xs-12 fadeIn second">
      <div class="follower panel panel-default userlist">
          <span style="width: 25%;">
            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="userpicimg">
          </span>
          <span style="width: 50%;">
            <h4>
              <strong>{{user['name']}}</strong>
            </h4>
            <em>
              {{user['user_code']}}
            </em>
          </span>
          <span style="width: 25%; display: flex; justify-content: flex-start; align-items: center;">

            <button title="Follow User" (click)="followUser(user['id'])" *ngIf="!user['follow_id']" class="btn btn-success follow-button">
              Follow
            </button>

             <button title="Unfollow User" (click)="unFollowUser(user['id'])" *ngIf="user['follow_id']" class="btn btn-danger follow-button">
              Unfollow
            </button>

            <button title="Follow User" (click)="followUser(user['id'])" *ngIf="!user['follow_id']" class="btn btn-success follow-icon">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
            </button>

             <button title="Unfollow User" (click)="unFollowUser(user['id'])" *ngIf="user['follow_id']" class="btn btn-danger follow-icon">
              <i class="fa fa-user-minus" aria-hidden="true"></i>
            </button>

          </span>
      </div>
    </div>

  </div>

</div>
