<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/images/logo.png" style="width: 250px; height: 250px;" id="icon" alt="Logo" />
      <h3>Sign In</h3>
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" novalidate (ngSubmit)="signIn()">
      <input type="email" formControlName="email" class="fadeIn second" name="email" placeholder="Enter email id">
      <div class="error-block" *ngIf="submitted && f.email.errors">
        <span [hidden]="!f.email.errors.required" > Email Id is required.</span>
      </div>

      <input type="password" formControlName="password" class="fadeIn third" name="password" placeholder="Enter password">
      <div class="error-block" *ngIf="submitted && f.password.errors">
        <span [hidden]="!f.password.errors.required" > Password is required.</span>
      </div>

      <input type="submit" class="btn fadeIn fourth" value="Sign In">

      <div class="invalid-block text-center" [hidden]="!error">
        <strong>Invalid credential!  </strong>
      </div>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
<!--      <a class="underlineHover"  routerLink="/forgot-password">Forgot Password?</a>-->
      <strong style="margin-right: 5px;">Don't have account?</strong>
      <a class="underlineHover" routerLink="/sign-up" title="Sign up here."> Sign up. </a>
    </div>

  </div>
</div>
