
textarea {
  background-color: #f6f6f6;
  /*border: none;*/
  color: #000;
  padding: 15px 25px;
  /*text-align: center;*/
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 100%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
}

textarea:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
  outline: none;
}

.add-new-button{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 10px;
  outline: none;
}
.search-div{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.add-button {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px 17px; /* Some padding */
  border-radius:50%; /* Rounded corners */
  font-weight: 900;
  font-size: 22px; /* Increase font size */
  outline: none;
}

.add-button:hover {
  outline: none;
  background-color: #555; /* Add a dark-grey background on hover */
}
.container-note {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 1%;
}

.div-note{
  margin-top: 4%;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}
