<app-header></app-header>

<div class='container-fluid main-content'>

  <ngx-spinner
    bdColor = "rgba(51, 51, 51, 0.8)"
    size = "medium"
    color = "#ccc"
    type = "line-scale-party">
  </ngx-spinner>


  <div class="no-record" *ngIf="invalidVideo">
    <h2>VIDEO IS NOT AVAILABLE</h2>
  </div>

  <div *ngIf="!invalidVideo" class="panel">
    <div class='image'>
      <div style="padding-bottom: 40%;" class="embed-responsive embed-responsive-16by9 hoverable">
<!--        <iframe class="embed-responsive-item" [src]="'https://www.youtube.com/embed/wBw_y8HNJBM?showinfo=0&controls=0&rel=0&theme=light&nologo=0' | safe: 'resourceUrl'"-->
<!--                style="height: 100%"-->
<!--                frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen>-->
<!--        </iframe>-->

        <div id="player">

        </div>

      </div>

      <div class="search-div">
        <button (click)="openNoteModal(addNote)" class="btn btn-primary add-button" title="Add Note">
          <i class="fa fa-sticky-note" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="div-note">
      <div *ngFor="let note of noteData;index as i" class="container-note ">
        <span class="time-right" style="color: #296090; font-weight: bold; ">{{note['time'] | noteTime}}</span>
        <p>{{note['note']}}</p>
      </div>
    </div>

  </div>

  <ng-template #addNote>
    <div class="modal-header">
      <h4 class="modal-title pull-left text-center">Add Note</h4>
      <button type="button" class="close pull-right" aria-label="Close"
              (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  [formGroup]="addNoteForm" novalidate >

        <textarea autocomplete="off"
                  readonly onfocus="this.removeAttribute('readonly')"
                  formControlName="note" name="note"
                  rows="10"
                  class="form-control"
                  placeholder="Enter Note">
          </textarea>

        <div class="error-block" *ngIf="submitted && n.note.errors">
          <span [hidden]="!n.note.errors.required"> Note is required.</span>
        </div>

        <div class="add-new-button">
          <input type="button" (click)="addNewNote()" *ngIf="!loading" class="btn btn-primary pull-right btn-sm" value="Add">
          <input type="button" *ngIf="loading" disabled class="btn btn-primary btn-sm dis-btn pull-right" value="Adding ...">
        </div>
      </form>
    </div>
  </ng-template>

</div>
