body {
  background-color: #fff;
}


/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}

*:focus {
  outline: none;
}


#video-placeholder{
  max-width: 35%;
  width: 100%;
  position: fixed;
  top: 130px;
  right: 40px;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.error-block{
  text-align: left;
  color: #DD4B39 ;
  margin-left: 8%;
}

.main-content {
  padding-top: 80px;
}
.no-record{
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.follow-button{
  display: block;
}

.follow-icon{
  display: none;
}
@media screen and (max-width: 1024px) {
  .no-record{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  .follow-button{
    display: block;
  }

  .follow-icon{
    display: none;
  }
}


/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
  .no-record{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }

  .follow-button{
    display: none;
  }

  .follow-icon{
    display: block;
  }
}


/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  .no-record{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .follow-button{
    display: none;
  }

  .follow-icon{
    display: block;
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 320px) {
  .no-record{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .follow-button{
    display: none;
  }

  .follow-icon{
    display: block;
  }
}
