<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Logo -->
    <div class="fadeIn first">
      <img src="assets/images/logo.png" style="width: 250px; height: 250px;" id="icon" alt="Logo" />
      <h3>Sign Up</h3>
    </div>

    <!-- Sign Form -->
    <form  [formGroup]="signupForm" novalidate (ngSubmit)="signUp()">
      <input autocomplete="off" readonly onfocus="this.removeAttribute('readonly')" onCut="return false" onDrag="return false" onDrop="return false" type="text" formControlName="name" class="fadeIn second" name="name" placeholder="Enter your name">
      <div class="error-block" *ngIf="submitted && f.name.errors">
        <span [hidden]="!f.name.errors.required" > Name is required.</span>
        <span [hidden]="!f.name.errors.pattern" > Invalid Name.</span>
      </div>

      <input autocomplete="off" readonly onfocus="this.removeAttribute('readonly')" onCut="return false" onDrag="return false" onDrop="return false" type="email" formControlName="email" class="fadeIn second" name="email" placeholder="Enter your email id">
      <div class="error-block" *ngIf="submitted && f.email.errors">
        <span [hidden]="!f.email.errors.required" > Email is required.</span>
        <span [hidden]="!f.email.errors.pattern" > Invalid Email id.</span>
      </div>

      <input autocomplete="off" minlength="8" readonly onfocus="this.removeAttribute('readonly')" onCut="return false" onDrag="return false" onDrop="return false" type="password" formControlName="password" class="fadeIn third" name="password" placeholder="Enter password">
      <div class="error-block" *ngIf="submitted && f.password.errors">
        <span [hidden]="!f.password.errors.required" > Password is required.</span>
        <span [hidden]="!f.password.errors.minlength" > Password should contain 8 characters.</span>
      </div>

      <input autocomplete="off"  readonly onfocus="this.removeAttribute('readonly')" onCut="return false" onDrag="return false" onDrop="return false" type="password" formControlName="confirmPassword" class="fadeIn third" name="confirmPassword" placeholder="Confirm password">
      <div class="error-block" *ngIf="submitted && !passwordConfirm && f.confirmPassword.errors">
        <span [hidden]="!f.confirmPassword.errors.required" > Confirm Password is required.</span>
      </div>
      <div class="error-block" *ngIf="submitted && passwordConfirm && passwordConfirm.notSame">
        <span [hidden]="!passwordConfirm.notSame" > Password is not same.</span>
      </div>

      <input type="submit" *ngIf="!loading" class="btn fadeIn fourth" value="Sign Up">
      <input type="button" *ngIf="loading" disabled class="dis-btn" value="Signing up ...">
    </form>

    <!-- Go to login -->
    <div id="formFooter">
      <a class="underlineHover" title="Sign in here." routerLink="/login">Already have an account?</a>
    </div>

  </div>
</div>
