.ytp-button{
  display: none;
}

.panel {
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5) !important;
  -moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5) !important;
  -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5) !important;
  -ms-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5) !important;
  transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  margin-bottom: 35px;
  border-radius: 0px;
  position: relative;
  border: 0;
  display: inline-block;
  width: 100%;
  height: 480px;
}

.video_content{
  padding: 10px;
}

.video_save{
  position: absolute;
  right: 15px;
  bottom: 10px;
  outline: none;
}

.video_save:hover{
  outline: none;

}
