<app-header></app-header>

<div class='container-fluid main-content'>
  <ngx-spinner
    bdColor = "rgba(51, 51, 51, 0.8)"
    size = "medium"
    color = "#ccc"
    type = "line-scale-party">
  </ngx-spinner>

  <div class="no-record" *ngIf="!newsFeedsVideoList.length && !loading">
   NO NEWS FEEDS AVAILABLE
  </div>

  <div *ngIf="newsFeedsVideoList.length && !loading"  class='row'>
    <div *ngFor="let video of newsFeedsVideoList;index as i"
         style="-webkit-animation-delay: {{i}}s; -moz-animation-delay: {{i}}s; animation-delay: {{i}}s;"
         class=' col-lg-3 col-md-4 col-sm-6 col-xs-12'>
      <div class="panel">
        <div class='image'>
          <div class="embed-responsive embed-responsive-16by9 hoverable">
            <iframe class="embed-responsive-item" [src]="video['link'] | safe: 'resourceUrl'"
                    style="height: 101%"
                    frameborder="0" allow="encrypted-media" allowfullscreen>
            </iframe>
          </div>
        </div>
        <div class='copy video_content'>
          <h3>{{video['title']}}</h3>
          <p>
            {{video['description']}}
          </p>
          <button (click)="saveVideo(video['id'])" class="btn btn-primary video_save pull-right">Save Video</button>
        </div>
        <div class='clear'></div>
      </div>

    </div>
  </div>

</div>
